ion-tabs{
    position: absolute;
    margin-top: 55px;
    
}

ion-toolbar{
    background-color:  #383a3e;
}

.shop-cart{
    font-size: 25px;
}

.logo{
  display: inline-block;
  font-size: 20px;
}

.img{
  width: 20px;
}

.subrayado{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 50%;
}