
<ion-content>
  
  <div class="img-fondo">
    <div class="fondo-negro p-1">

      <div class="container center">
        
        <br color="dark">
  
        <ion-item color="light">
          <ion-label position='floating'>Correo</ion-label>
          <ion-input [(ngModel)]="correo" name='correo' type="email"></ion-input>
        </ion-item>

        <br>

        <ion-item color="light">
          <ion-label position='floating'>Contraseña</ion-label>
          <ion-input [(ngModel)]="pass" name='pass' type="password"></ion-input>
        </ion-item>
        
  
        <label class="label-olvido" for="">
          Olvido su contraseña?
        </label>
  
        <br color="dark"><br color="dark">
  
        <ion-button expand="full"  color="primary" (click)="validar()">Iniciar sesión</ion-button>
  
        <br>
  
        <ion-button expand="full" class="btn-face" color="medium" (click)="loginFB()"><ion-icon name="logo-facebook"></ion-icon> Iniciar con Facebook</ion-button>
  
        <br>
  
        <label  [routerLink]="[ '/registrarse']" class="label-registrate" for="">
          Eres nuevo, Registrate aquí.
        </label>
        <br>
      </div>

    </div>
  </div>

  
</ion-content>
