ion-item-divider{
    font-size: 1.40rem;
}

ion-card-title{
    color: white;
}

ion-icon{
    top: 3px;
}

ion-label{
    font-size: 20px !important;
    color: #78787c !important;
    letter-spacing: 1px !important;
}

ion-item{
    width: 100% !important;
}

.ion-item{
    max-width: 100% !important;
    border-bottom: 1px solid #474749;
    border-left: 4px solid rgba(253,159,40) !important;
}

.borde-naranja{
    border-right: 4px solid rgba(253,159,40) !important;
    height: 100%;
    border-radius: 30px;
    width: 3px !important;
    padding: 0 !important;
}

ion-button{
    font-size: 15px !important;
}


.opc{
    display: inline-block;
}

.img-opc{
    display: inline-block;
}