ion-content {
    --background: url("../../../assets/bg.PNG") 0 0/100% 100% no-repeat !important;
}

ion-toolbar {
    --ion-background-color: #171718;
    background: #171718; 
    color: white;
}

ion-label{
    letter-spacing: 2px;
}

ion-item{
    border-radius: 30px;
}

.label-olvido{
    cursor: pointer;
    color: cornflowerblue;
    position: absolute;
    right: 1%;
}

.avatar{
    width: 150px;
    height: 150px;
}

.vercion-negra{
    background-color: black;
}

.btn-next{
    background-color: rgb(40, 164, 185) !important;
    color: white;
    margin: auto;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 19px;
    font-size: 15px;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-shadow: 1px 4px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 15px -3px rgba(0,0,0,0.75);
}



